
Builds/VisualStudio2019/.vs/SimpleEQ/v16/.suo
Builds/VisualStudio2019/.vs/SimpleEQ/v16/Browse.VC.db
Builds/VisualStudio2019/.vs/SimpleEQ/v16/Browse.VC.db-shm
Builds/VisualStudio2019/.vs/SimpleEQ/v16/Browse.VC.db-wal
Builds/VisualStudio2019/.vs/SimpleEQ/v16/Browse.VC.opendb
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/2d672fd76543f7a0/PLUGINEDITOR.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/318bf5e3e663101b/PLUGINPROCESSOR.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/41b46b92eb91c35c/INCLUDE_JUCE_CORE.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/5bccf97f38d858b4/PLUGINPROCESSOR.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/619994aa8b4aeabe/INCLUDE_JUCE_AUDIO_FORMATS.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/7ad5d7788ab8c0bd/PLUGINPROCESSOR.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/b0f249d6cc9bfebe/INCLUDE_JUCE_EVENTS.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/ipch/AutoPCH/f642955c0060f126/PLUGINEDITOR.ipch
Builds/VisualStudio2019/.vs/SimpleEQ/v16/Solution.VC.db
Builds/VisualStudio2019/.vs/SimpleEQ/v16/Solution.VC.db-shm
Builds/VisualStudio2019/.vs/SimpleEQ/v16/Solution.VC.db-wal
Builds/VisualStudio2019/resources.rc
Builds/VisualStudio2019/SimpleEQ.sln
Builds/VisualStudio2019/SimpleEQ_SharedCode.vcxproj
Builds/VisualStudio2019/SimpleEQ_SharedCode.vcxproj.filters
Builds/VisualStudio2019/SimpleEQ_SharedCode.vcxproj.user
Builds/VisualStudio2019/SimpleEQ_StandalonePlugin.vcxproj
Builds/VisualStudio2019/SimpleEQ_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2019/SimpleEQ_StandalonePlugin.vcxproj.user
Builds/VisualStudio2019/SimpleEQ_VST3.vcxproj
Builds/VisualStudio2019/SimpleEQ_VST3.vcxproj.filters
Builds/VisualStudio2019/SimpleEQ_VST3.vcxproj.user
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_dsp.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.9514F971.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.9514F971.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.9514F971.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.9514F971.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.9514F971.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.9514F971.tlog/Lib.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.9514F971.tlog/SimpleEQ_SharedCode.lastbuildstate
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.Build.CppClean.log
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.lib
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.lib.recipe
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ.pdb
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ_SharedCode.log
Builds/VisualStudio2019/x64/Debug/Shared Code/SimpleEQ_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.Build.CppClean.log
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.E164E3F0.tlog/SimpleEQ_StandalonePlugin.lastbuildstate
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.exe
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.exe.recipe
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.ilk
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ.pdb
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ_StandalonePlugin.log
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/SimpleEQ_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2019/x64/Debug/VST3/resources.res
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ.Build.CppClean.log
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ.exp
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ.ilk
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ.lib
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ.pdb
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ.vst3
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ.vst3.recipe
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.log
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/SimpleEQ_VST3.lastbuildstate
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.tlog/SimpleEQ_VST3.write.1u.tlog
Builds/VisualStudio2019/x64/Debug/VST3/SimpleEQ_VST3.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_plugin_client_ARA.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_processors_ara.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_core.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_dsp.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_events.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2019/x64/Release/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2019/x64/Release/Shared Code/PluginEditor.obj
Builds/VisualStudio2019/x64/Release/Shared Code/PluginProcessor.obj
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.9514F971.tlog/CL.11548.write.1.tlog
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.9514F971.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.9514F971.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.9514F971.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.9514F971.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.9514F971.tlog/Lib.command.1.tlog
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.9514F971.tlog/SimpleEQ_SharedCode.lastbuildstate
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.lib
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.lib.recipe
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ.pdb
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ_SharedCode.log
Builds/VisualStudio2019/x64/Release/Shared Code/SimpleEQ_SharedCode.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Release/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2019/x64/Release/Standalone Plugin/resources.res
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/SimpleEQ_StandalonePlugin.lastbuildstate
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.E164E3F0.tlog/SimpleEQ_StandalonePlugin.write.1u.tlog
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.exe
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.exe.recipe
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.iobj
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ.pdb
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ_StandalonePlugin.log
Builds/VisualStudio2019/x64/Release/Standalone Plugin/SimpleEQ_StandalonePlugin.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2019/x64/Release/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2019/x64/Release/VST3/resources.res
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ.exp
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ.iobj
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ.lib
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ.pdb
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ.vst3
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ.vst3.recipe
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.log
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/SimpleEQ_VST3.lastbuildstate
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.tlog/SimpleEQ_VST3.write.1u.tlog
Builds/VisualStudio2019/x64/Release/VST3/SimpleEQ_VST3.vcxproj.FileListAbsolute.txt
JuceLibraryCode/include_juce_audio_basics.cpp
JuceLibraryCode/include_juce_audio_basics.mm
JuceLibraryCode/include_juce_audio_devices.cpp
JuceLibraryCode/include_juce_audio_devices.mm
JuceLibraryCode/include_juce_audio_formats.cpp
JuceLibraryCode/include_juce_audio_formats.mm
JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
JuceLibraryCode/include_juce_audio_plugin_client_ARA.cpp
JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
JuceLibraryCode/include_juce_audio_plugin_client_LV2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_LV2.mm
JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
JuceLibraryCode/include_juce_audio_processors.cpp
JuceLibraryCode/include_juce_audio_processors.mm
JuceLibraryCode/include_juce_audio_processors_ara.cpp
JuceLibraryCode/include_juce_audio_processors_lv2_libs.cpp
JuceLibraryCode/include_juce_audio_utils.cpp
JuceLibraryCode/include_juce_audio_utils.mm
JuceLibraryCode/include_juce_core.cpp
JuceLibraryCode/include_juce_core.mm
JuceLibraryCode/include_juce_data_structures.cpp
JuceLibraryCode/include_juce_data_structures.mm
JuceLibraryCode/include_juce_dsp.cpp
JuceLibraryCode/include_juce_dsp.mm
JuceLibraryCode/include_juce_events.cpp
JuceLibraryCode/include_juce_events.mm
JuceLibraryCode/include_juce_graphics.cpp
JuceLibraryCode/include_juce_graphics.mm
JuceLibraryCode/include_juce_gui_basics.cpp
JuceLibraryCode/include_juce_gui_basics.mm
JuceLibraryCode/include_juce_gui_extra.cpp
JuceLibraryCode/include_juce_gui_extra.mm
JuceLibraryCode/JuceHeader.h
JuceLibraryCode/JucePluginDefines.h
JuceLibraryCode/ReadMe.txt
LICENSE
